$colour-main-dark: #1b262c;
$colour-main-medium: #0f4c75;
$colour-main-medium-light: #3282b8;
$colour-main-light: #bbe1fa;
$main-font: 'Rubik', sans-serif;

.quiz-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: $colour-main-medium;

    .pane {
        height: 550px;
        width: 400px;
        background-color: $colour-main-dark;
        border-radius: 20px;

        p {
            padding: 40px 20px 20px 20px;
            font-size: 1.3rem;
            line-height: 1.5rem;
            font-family: $main-font;
            color: whitesmoke;
        }

        span {
            display: block;
            text-align: center;
        }
    }
    
    #button-info {
        height: 40px;
        width: 150px;
        margin-top: 40px;
        background-color: $colour-main-dark;
        border: none;
        -webkit-box-shadow: 0px 0px 0px 5px $colour-main-medium;
                box-shadow: 0px 0px 0px 5px #3282b8;
        font-family: "Rubik", sans-serif;
        font-size: 1.2rem;
        letter-spacing: 0.1rem;
        color: #bbe1fa;
        border-radius: 35px;
        z-index: 1;
    }

    #button-info:hover {
        -webkit-box-shadow: 0px 0px 0px 5px #bbe1fa;
          box-shadow: 0px 0px 0px 5px #bbe1fa;
    }
}

.fade-out {
    animation: fade-out 2s linear forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}