* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

body .slide-startpage {
  -webkit-animation: slide-startpage 3s linear forwards;
          animation: slide-startpage 3s linear forwards;
}

body .start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #1b262c;
}

body .start h1 {
  position: absolute;
  top: calc(max(3%, 5vh));
  font-family: "Rubik", sans-serif;
  font-size: calc(max(3rem, 5vw));
  z-index: 5;
  -webkit-animation: title-anim 3s linear infinite;
          animation: title-anim 3s linear infinite;
}

body .start .scene {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  width: 300px;
  -webkit-perspective: 800px;
          perspective: 800px;
}

body .start .scene .cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

body .start .scene .cube .cube__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
}

body .start .scene .cube .cube__side #name {
  margin-bottom: 50px;
  z-index: 1;
}

body .start .scene .cube .cube__side #name::-webkit-input-placeholder {
  font-size: 1rem;
  color: whitesmoke;
  opacity: 0.3;
}

body .start .scene .cube .cube__side #name:-ms-input-placeholder {
  font-size: 1rem;
  color: whitesmoke;
  opacity: 0.3;
}

body .start .scene .cube .cube__side #name::-ms-input-placeholder {
  font-size: 1rem;
  color: whitesmoke;
  opacity: 0.3;
}

body .start .scene .cube .cube__side #name::placeholder {
  font-size: 1rem;
  color: whitesmoke;
  opacity: 0.3;
}

body .start .scene .cube .cube__side .level-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  z-index: 1;
}

body .start .scene .cube .cube__side .level-selection h4 {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  color: #bbe1fa;
}

body .start .scene .cube .cube__side .level-selection label,
body .start .scene .cube .cube__side .level-selection input {
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
  color: #bbe1fa;
}

body .start .scene .cube .cube__side .level-selection .level-easy,
body .start .scene .cube .cube__side .level-selection .level-fair,
body .start .scene .cube .cube__side .level-selection .level-challenging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
}

body .start .scene .cube svg,
body .start .scene .cube svg rect {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  fill: transparent;
}

body .start .scene .cube svg rect {
  stroke: #bbe1fa;
  stroke-width: 5;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  stroke-dasharray: 1200;
  stroke-dashoffset: 1200;
}

body .start .scene .cube .dynamic-border {
  stroke-dashoffset: 0;
}

body .start .scene .cube .cube--border {
  border: 2px solid #bbe1fa;
}

body .start .scene .cube .cube__side--front,
body .start .scene .cube .cube__side--back {
  height: 300px;
  width: 300px;
}

body .start .scene .cube .cube__side--right,
body .start .scene .cube .cube__side--left {
  height: 300px;
  width: 300px;
}

body .start .scene .cube .cube__side--top,
body .start .scene .cube .cube__side--bottom {
  height: 300px;
  width: 300px;
}

body .start .scene .cube .cube__side--front {
  background-color: #1b262c;
  -webkit-transform: rotateY(0deg) translateZ(150px);
          transform: rotateY(0deg) translateZ(150px);
}

body .start .scene .cube .cube__side--back {
  background-color: #3282b8;
  -webkit-transform: rotateY(180deg) translateZ(150px);
          transform: rotateY(180deg) translateZ(150px);
}

body .start .scene .cube .cube__side--right {
  background-color: #1b262c;
  -webkit-transform: rotateY(90deg) translateZ(150px);
          transform: rotateY(90deg) translateZ(150px);
}

body .start .scene .cube .cube__side--left {
  background-color: #fff;
  -webkit-transform: rotateY(-90deg) translateZ(150px);
          transform: rotateY(-90deg) translateZ(150px);
}

body .start .scene .cube .cube__side--top {
  background-color: #1b262c;
  -webkit-transform: rotateX(90deg) translateZ(150px);
          transform: rotateX(90deg) translateZ(150px);
}

body .start .scene .cube .cube__side--bottom {
  background-color: #0f4c75;
  -webkit-transform: rotateX(-90deg) translateZ(150px);
          transform: rotateX(-90deg) translateZ(150px);
}

body .start .scene .cube.right {
  -webkit-transform: translateZ(-150px) rotateY(-90deg);
          transform: translateZ(-150px) rotateY(-90deg);
}

body .start .scene .cube.top {
  -webkit-transform: translateZ(-50px) rotateX(-90deg);
          transform: translateZ(-50px) rotateX(-90deg);
}

body .start .scene #name {
  height: 40px;
  width: 230px;
  padding: 0 10px;
  margin-bottom: 30px;
  border: none;
  background-color: #0f4c75;
  text-align: center;
  font-family: "Rubik", sans-serif;
  color: whitesmoke;
  border-radius: 5px;
}

body .start .scene #name::-webkit-input-placeholder {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

body .start .scene #name:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

body .start .scene #name::-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

body .start .scene #name::placeholder {
  font-family: "Rubik", sans-serif;
  text-align: center;
}

body .start #button-start,
body .start #button-submit-name,
body .start #button-submit-level {
  height: 40px;
  width: 150px;
  background-color: #0f4c75;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 5px #3282b8;
          box-shadow: 0px 0px 0px 5px #3282b8;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #bbe1fa;
  border-radius: 35px;
  z-index: 1;
}

body .start #button-start:hover,
body .start #button-submit-name:hover,
body .start #button-submit-level:hover {
  -webkit-box-shadow: 0px 0px 0px 5px #bbe1fa;
          box-shadow: 0px 0px 0px 5px #bbe1fa;
}

body .start #button-start:focus,
body .start #button-submit-name:focus,
body .start #button-submit-level:focus {
  outline: 0;
}

body .start .button-disabled {
  -webkit-animation: fade-button 1.5s linear forwards;
          animation: fade-button 1.5s linear forwards;
}

small {
  position: absolute;
  bottom: 0;
  right: 1%;
  height: 50px;
  width: auto;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  color: rgba(187, 225, 250, 0.15);
}

.quiz-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0f4c75;
}

.quiz-info a {
  z-index: 1;
}

.quiz-info .pane {
  height: 550px;
  width: 400px;
  background-color: #1b262c;
  border-radius: 20px;
}

.quiz-info .pane p {
  padding: 15% 20px 20px 20px;
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-family: "Rubik", sans-serif;
  color: rgba(187, 225, 250, 0.8);
}

.quiz-info .pane span {
  display: block;
  text-align: center;
}

.quiz-info #button-info {
  height: 40px;
  width: 150px;
  margin-top: 40px;
  background-color: #1b262c;
  border: none;
  -webkit-box-shadow: 0px 0px 0px 5px #0f4c75;
  box-shadow: 0px 0px 0px 5px #3282b8;
  font-family: "Rubik", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  color: #bbe1fa;
  border-radius: 35px;
}

.quiz-info #button-info:hover {
  -webkit-box-shadow: 0px 0px 0px 5px #bbe1fa;
  box-shadow: 0px 0px 0px 5px #bbe1fa;
}

.quiz-info #button-info:focus {
  outline: 0;
}

.name-check {
  -webkit-animation: name-check 1s ease-in-out;
          animation: name-check 1s ease-in-out;
}

.hint {
  position: absolute;
  font-family: "Rubik", sans-serif;
  font-size: 0.9rem;
  color: whitesmoke;
  visibility: hidden;
}

.--fade-out {
  -webkit-animation: fade-out 2s linear forwards;
          animation: fade-out 2s linear forwards;
}

.--fade-in {
  z-index: 2;
  -webkit-animation: fade-in 3s linear forwards;
          animation: fade-in 3s linear forwards;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes title-anim {
  0% {
    color: #0f4c75;
  }
  50% {
    color: #bbe1fa;
  }
  100% {
    color: #0f4c75;
  }
}

@keyframes title-anim {
  0% {
    color: #0f4c75;
  }
  50% {
    color: #bbe1fa;
  }
  100% {
    color: #0f4c75;
  }
}

@-webkit-keyframes fade-button {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-button {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-startpage {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2500px);
            transform: translateX(-2500px);
  }
}

@keyframes slide-startpage {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2500px);
            transform: translateX(-2500px);
  }
}

@-webkit-keyframes name-check {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  60% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes name-check {
  0% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  20% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  40% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  60% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media only screen and (max-device-width: 767px) and (orientation: portrait) {
  body .start h1 {
    top: 10%;
    font-size: calc(max(1.5rem, 3vw));
    z-index: 5;
  }
  body .start #button-start,
  body .start #button-submit-name,
  body .start #button-submit-level {
    height: 30px;
    width: 110px;
    font-size: 1rem;
  }
  body .quiz-info .pane {
    height: 450px;
    width: 300px;
  }
  body .quiz-info .pane p {
    padding: 50px 20px 0 20px;
    font-size: 1rem;
    line-height: 1.4rem;
  }
  body .quiz-info #button-info {
    height: 30px;
    width: 110px;
    margin-top: 30px;
  }
}
/*# sourceMappingURL=start.css.map */